<h1>Edit Book</h1>

<%= form_with model: @book,
              url: update_book_path(@book),
              method: :patch,
              local: true,
              html: { class: "styled-form" } do |form| %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :author_name, "Author" %><br>
    <%= form.text_field :author_name, value: @book.author&.author_name %>
  </div>

  <div>
    <%= form.label :price %><br>
    <%= form.number_field :price, step: "0.01" %>
  </div>

  <div>
    <%= form.label :publish_date %><br>
    <%= form.date_field :publish_date %>
  </div>

  <div>
      <%= form.submit "Update Book" %>
    </div>
  <% end %>

<%= link_to "Cancel", books_path, class: "btn-link" %>
<%= link_to "Back to Home", home_path, class: "btn-link primary" %>
