<p style="color: green"><%= notice %></p>

<h1>Welcome to Your Book Collection!</h1>
<p>You're logged in as: <%= current_admin.email %></p>

<%= link_to "Sign Out", destroy_admin_session_path, method: :delete, style: "color: red; text-decoration: none; margin-bottom: 20px; display: inline-block; padding: 5px 10px; border: 1px solid red; border-radius: 3px;" %>

<h2>Your Book Collection</h2>
<p>Manage your personal library:</p><br />

<table class="styled-table"> <!-- Starting the table with a simple border-->
  <thead> <!-- This is the table header section-->
    <tr> <!-- This defines a table row -->
      <th>Book ID</th> <!-- This defines a table header cell-->
      <th>Book Title</th>
      <th>Book Author</th>
      <th>Book Price</th>
      <th>Published Date</th>
    </tr>
  </thead>

  <tbody> <!-- This defines the main content of the table -->
    <% @books.each do |book| %> <!-- Using embedded rails code to iterate through all books-->
      <tr> <!-- This defines a table row -->
        <td><%= book.id %></td> <!-- This defines table data cell -->
        <td><%= book.title %></td>  <!-- This defines table data cell -->
        <td><%= book.author&.author_name || 'No Author' %></td> <!-- This defines table data cell -->
        <td><%= book.price %></td> <!-- This defines table data cell -->
        <td><%= book.publish_date.strftime("%m-%d-%Y") %></td> <!-- This defines table data cell -->
        <td><%= link_to "Show Details", show_book_path(book), class: "btn-link show" %></td>
        <td><%= link_to "Read", show_book_path(book), class: "btn-link read" %></td>
        <td><%= link_to "Update", edit_book_path(book), class: "btn-link secondary" %></td>
        <td><%= link_to "Delete", delete_book_path(book), class: "btn-link delete-button" %></td>
      </tr>

    <% end %>
    <tr>
      <td><%= link_to "Add Book", new_book_path, class: "btn-link" %></td>
    </tr>
  </tbody>
</table>
